@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Pretendard Variable";
  --font-mono: "Pretendard Variable";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable";
}

.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: #424242 transparent;
}

.thin-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: #424242;
  border: 3px solid transparent;
  background-clip: content-box;
  border-radius: 999px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}
